section

  section.sec-slide

    h1.primary.upper Sobre

    p O JS4Girls é um modelo de eventos <strong>sem fins lucrativos</strong>, que ocorrem de forma distribuída por todo o país visando a proporcionar a <strong>inclusão de mulheres na tecnologia</strong> por meio do ensino de algumas tecnologias-chave por trás do desenvolvimento web.

  section.sec-slide

    h1.primary.upper Sobre

    p No evento, de duração aproximada de 6 horas, é ensinado o básico de:

    .col-3
      img(src="images/technologies/html.png", alt="HTML")
    .col-3
      img(src="images/technologies/css.png", alt="CSS")
    .col-3
      img(src="images/technologies/js.png", alt="JS")

  section.sec-slide

    h1.primary.upper Sobre

    p No Brasil, já foi realizado em diversas cidades, incluindo:

    .left
      ul
        each city in cities
          li #{city}
        li entre outras :)

  section.sec-slide

    h1.primary.upper Sobre

    p Em #{about.general.location.city}:

    .col-3
      object(type="image/svg+xml", data="images/info/target.svg", width="80%")
      p #{about.general.attendees} mulheres aprendendo
    .col-3
      object(type="image/svg+xml", data="images/info/date.svg", width="80%")
      p #{about.general.date}
    .col-3
      object(type="image/svg+xml", data="images/info/place.svg", width="80%")
      p #{about.general.location.place}
