section

  section.sec-slide

    h1.primary.upper Como você pode ajudar

    p Procuramos por pessoas e organizações que compartilhem o nosso objetivo de trazer mais mulheres para a tecnologia para nos ajudar. Se você é uma delas, pode nos ajudar de três formas diferentes:

  section.sec-slide

    h1.primary.upper Como você pode ajudar

    each plan in plans

      .col-3
        object(type="image/svg+xml", data="images/info/sponsor-#{plan.name}.svg", width="80%")
        p #{plan.name}

  each plan in plans

    section.sec-slide.left

        h1.left #{plan.name}

        hr

        p <strong>#{plan.price}</strong>

        each benefit in plan.benefits
          p ✓ #{benefit}
